"*":
  autosave:
    enabled: true
  blame: {}
  core:
    audioBeep: false
    disabledPackages: [
      "advanced-new-file"
      "fancy-new-file"
      "autocomplete-atom-api"
      "autocomplete-snippets"
      "autocomplete-plus"
      "autocomplete-html"
      "autocomplete-css"
      "git-blame"
      "remember-window"
      "goto"
      "go-plus"
      "background-tips"
      "rainbow-selection"
      "linter-jscs"
      "language-gfm"
      "markdown-writer"
      "spell-check"
      "rspec"
      "rainbow-tabs"
      "linter-ruby"
      "linter-jshint"
      "metrics"
      "archive-view"
      "autoflow"
      "command-palette"
      "keybinding-resolver"
      "language-csharp"
      "welcome"
      "color-picker"
      "swackets"
    ]
    ignoredNames: [
      "spec/fixtures"
      "fixtures"
    ]
    themes: [
      "seti-ui"
      "monokai"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "f1c26ec2-08ea-658c-5088-57d8474c304a"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "git-blame": {}
  "git-blame-plus": {}
  linter:
    displayLinterStatus: false
    gutterEnabled: false
    lintOnChangeInterval: 2000
    showErrorInline: false
    showErrorTabLine: true
    showErrorTabProject: false
    statusBar: "None"
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-jshint": {}
  "linter-rubocop": {}
  "linter-ruby": {}
  metrics:
    userId: "a31c93103d5069ba7ca99872a67d00a79adcac8f"
  "remember-session":
    height: 877
    path: ""
    selectedTab: ""
    tabs: ""
    width: 1203
    x: 88
    y: 23
  "remember-window":
    height: 877
    width: 1203
    x: 88
    y: 23
  rspec:
    command: "zeus rspec"
  "seti-ui":
    compactView: true
    disableAnimations: true
    font: "Default Atom Font"
    themeColor: "Pink"
  "status-bar":
    cursorPositionFormat: " "
    selectionCountFormat: " "
  swackets:
    colorParens: true
    colorSquareBrackets: true
    colors: [
      "#AAFF00"
      "#FFAA00"
      "#FF00AA"
      "#AA00FF"
      "#00AAFF"
    ]
  tabs:
    enableVcsColoring: true
    tabScrolling: true
  "tree-view":
    focusOnReveal: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
