"*":
  autosave:
    enabled: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "status-bar"
      "language-gfm"
      "space-tab"
      "welcome"
      "language-coffee-script"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-php"
      "language-perl"
      "language-mustache"
      "language-toml"
      "metrics"
      "spell-check"
      "keybinding-resolver"
      "command-palette"
      "background-tips"
      "autoflow"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "archive-view"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "tinacious-design-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 13
    lineHeight: 1.6
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "f1c26ec2-08ea-658c-5088-57d8474c304a"
  "linter-rubocop": {}
  metrics:
    userId: "a31c93103d5069ba7ca99872a67d00a79adcac8f"
  "remember-session":
    height: 877
    path: ""
    selectedTab: ""
    tabs: ""
    width: 1200
    x: 0
    y: 23
  "remember-window":
    height: 877
    treeWidth: 0
    width: 1200
    x: 0
    y: 23
  "seti-ui":
    themeColor: "Pink"
  "tree-view":
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
