'global':
  'remember-window':
    'x': 0
    'y': 23
    'width': 1200
    'height': 877
    'treeWidth': 0
  'exception-reporting':
    'userId': 'f1c26ec2-08ea-658c-5088-57d8474c304a'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': 'a31c93103d5069ba7ca99872a67d00a79adcac8f'
  'remember-session':
    'x': 0
    'y': 23
    'tabs': ''
    'selectedTab': ''
    'width': 1200
    'height': 877
    'path': ''
  'editor':
    'fontFamily': 'Source Code Pro'
    'lineHeight': 1.6
    'showIndentGuide': true
    'showInvisibles': true
    'softWrap': true
    'fontSize': 10
  'core':
    'themes': [
      'seti-ui'
      'monokai'
    ]
    'audioBeep': false
    'disabledPackages': [
      'status-bar'
    ]
  'autosave':
    'enabled': true
  'whitespace':
    'ignoreWhitespaceOnCurrentLine': false
    'ensureSingleTrailingNewline': false
  'tree-view':
    'hideVcsIgnoredFiles': true
    'showOnRightSide': true
